// Section Header
.section-title-wrapper {
	border-bottom: 1px solid hsl(var(--base));
}
.section-title {
	padding: 15px;
	padding-left: 25px;
	padding-right: 70px;
	border-radius: 3px;
	display: inline-block;
	clip-path: polygon(0 0, 73% 0, 100% 100%, 0% 100%);
}
.section-header {
	margin-bottom: 45px;
	&__title {
		margin-bottom: 10px;
		position: relative;
		display: inline-block;
		&::before {
			position: absolute;
			content: "";
			width: 50px;
			height: 40px;
			background: url(../images/shape/section-shape-outline2.png) no-repeat;
			background-size: contain;
			left: 100%;
			bottom: 75%;
			z-index: 1;
		}
	}
	&__text {
		font-size: 18px;
		@include breakpoint(max-sm) {
			font-size: 16px;
		}
	}
	@include breakpoint(max-md) {
		margin-bottom: 40px;
	}
	@include breakpoint(max-xs) {
		margin-bottom: 35px;
	}
}
// Section Header

// Product Section
.product-item {
	height: 100%;
	background-color: hsl(var(--light));
	border-radius: 0 0 3px 3px;

	&__thumb {
		position: relative;
		overflow: hidden;
		border-radius: 3px 3px 0 0;
	}
	.product-price {
		position: absolute;
		top: 0;
		z-index: 1;
		padding: 8px 12px;
		font-weight: 600;
		color: hsl(var(--white));
		&.discount-price {
			right: 0;
			background-color: hsl(var(--base));
			border-radius: 0 0 0 50%;
		}
		&.original-price {
			left: 0;
			background-color: hsl(var(--danger));
			border-radius: 0 0 50% 0;
			text-decoration: line-through;
		}
	}
	&__content {
		padding: 18px;
	}
	&:hover {
		.product-item__thumb {
			img {
				transform: scale(1.1);
			}
		}
	}
}
// Product Section

// Use Section
.use-item {
	text-align: center;
	&__thumb {
		border: 4px solid hsl(var(--dark) / 0.05);
		background-color: hsl(var(--white));
		padding: 15px;
		@include breakpoint(max-xl) {
			padding: 12px;
		}
	}
	&__content {
		padding-top: 20px;
		@include breakpoint(max-xxl) {
			padding-bottom: 10px;
		}
		@include breakpoint(max-xl) {
			padding-top: 15px;
		}
	}
}
.section-shapes {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: contain;
	opacity: 0.05;
}
.section-bg1 {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-mask-image: -webkit-linear-gradient(310deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 80%);
	max-width: 25vw;
	max-height: 100%;
	@include breakpoint(max-sm) {
		max-width: 45vw;
	}
}
.section-bg2 {
	position: absolute;
	bottom: 0;
	right: 0;
	-webkit-mask-image: -webkit-linear-gradient(140deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 80%);
	max-width: 25vw;
	max-height: 100%;
	@include breakpoint(max-sm) {
		max-width: 45vw;
	}
}
// Use Section

// Outlet Section
.outlet-item {
	text-align: center;
	position: relative;
	margin-top: 80px;
	.shape {
		position: absolute;
		right: 0px;
		top: -80px;
		border-radius: unset;
		z-index: -1;
		max-width: 130px;
		object-fit: contain;
	}
	&__thumb {
		aspect-ratio: 1;
		border-radius: 50%;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transform: scale(1.1);
		}
	}
	&__content {
		padding-top: 20px;
	}
	&:hover {
		.outlet-item__thumb {
			img {
				transform: scale(1);
			}
		}
		.shape {
			transform: translate(-25px, -5px) rotate(-5deg);
			transform-origin: top;
		}
	}
}
// Outlet Section

// Testimonial Section
.testimonial-slider {
	.single-slide {
		@include breakpoint(sm) {
			padding-inline: 10px;
		}
	}
}
.testimonial-item {
	padding: 35px 40px;
	border-radius: 3px;
	text-align: center;
	background-color: hsl(var(--base) / 0.15);
	@include breakpoint(max-xl) {
		@include breakpoint(lg) {
			padding: 30px;
		}
		@include breakpoint(max-sm) {
			padding: 30px 20px;
		}
	}
	&__thumb {
		width: 100px;
		height: 100px;
		margin: 0 auto 25px;
		img {
			border-radius: 50%;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content {
		&-text {
			font-style: italic;
			font-size: 17px;
			@include breakpoint(max-xxl) {
				font-size: 16px;
			}
		}
		&-name {
			margin-top: 8px;
		}
	}
}
// Testimonial Section

// Brand Section
.brands-slider {
	.single-slide {
		padding-inline: 20px;
	}
}
.brand-item {
	&__thumb {
		width: 100%;
		height: 75px;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
// Brand Section

// About Section
.about-img {
	width: 100%;
	aspect-ratio: 1;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
	}
}
// About Section

// Timeline Section
.timeline-wrapper {
	position: relative;
	@include breakpoint(max-lg) {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	@include breakpoint(lg) {
		&::before {
			position: absolute;
			content: "";
			top: 45%;
			left: 0;
			width: 100%;
			height: 0;
			border-bottom: 1px solid hsl(var(--dark) / 0.15);
		}
	}
	.single-slide {
		padding-inline: 15px;
		@include breakpoint(xxl) {
			padding-inline: 30px;
		}
	}
}
.timeline-item {
	text-align: center;
	&__icon {
		width: 75px;
		height: 75px;
		margin: 0 auto 100px;
		display: grid;
		place-items: center;
		background: hsl(var(--white));
		border: 1px solid hsl(var(--base));
		box-shadow: 0 2px 6px hsl(var(--dark) / 0.1);
		border-radius: 50%;
		font-weight: 600;
		position: relative;
		&::before {
			position: absolute;
			content: "";
			top: 100%;
			left: 49%;
			width: 0;
			height: 60px;
			border-right: 1px solid hsl(var(--dark) / 0.15);
		}
		&::after {
			position: absolute;
			content: "";
			top: 125px;
			left: 50%;
			transform: translateX(-50%);
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background-color: hsl(var(--base));
			border: 3px solid hsl(var(--white));
			outline: 1px solid hsl(var(--base));
		}
	}
	&__content {
		&-title {
			margin-bottom: 10px;
		}
	}
}
// Timeline Section
